.event-title {
    font-size: 7em;
}

.main-content {
    max-width: 60em;
}

.logo {
    border-radius: 5px;
    display: block;
    background-color: rgb(184, 211, 175);
}

.ticket {
    border-radius: 5px;
    display: block;
    background-color: rgb(254, 157, 0);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}

.time-column {
    width: 20%
}

.attendee-portrait {
    border-radius: 10px;
    display: block;
    background-color: rgb(146, 194, 195);
}

a {
    color: rgb(88, 166, 168)
}